[
 {kernel, [
    {logger_level, info},
    {logger, [
        {handler, default, logger_std_h, #{
            formatter => {fm_common_logger, #{}}
        }}
    ]}
 ]},

 {fm_common, [
    {metrics_port, 9100}
 ]},

 {prometheus, [
    {collectors, [
        prometheus_vm_memory_collector,
        prometheus_vm_statistics_collector,
        prometheus_vm_system_info_collector,
        default
    ]}
 ]}
].
