
{erl_opts, [debug_info, warnings_as_errors, {i, "src/gen"}]}.

{gpb_opts, [
    {i, "../../../proto"},
    use_packages,
    {module_name_suffix, "_pb"},
    {o_erl, "src/gen"},
    {o_hrl, "src/gen"},
    {strings_as_binaries, true},
    {maps, true},
    {maps_unset_optional, omitted},
    {report_errors, true},
    {gen_introspect, true},
    type_specs
]}.

{provider_hooks, [
    {pre,  [{compile, {protobuf, compile}}]},
    {post, [{clean,   {protobuf, clean}}]}
]}.
