
{erl_opts, [debug_info, warnings_as_errors]}.

{project_app_dirs, ["apps/*"]}.

{deps, [
    {jsx,        "3.1.0"},
    {telemetry,  "1.2.1"},
    {prometheus, "4.11.0"},
    {prometheus_httpd, "2.1.11"},
    {cowboy,     "2.12.0"},
    {gproc,      "0.9.1"},
    {grpcbox,    "0.17.1"}
]}.

{plugins, [
    {rebar3_gpb_plugin, "2.23.2"}
]}.

{relx, [
    {release, {faultmesh, semver}, [
        fm_common,
        fm_proto,
        fm_ingest,
        fm_detect,
        fm_incident,
        fm_workflow,
        fm_notify,
        fm_storage,
        fm_api,
        sasl,
        runtime_tools
    ]},
    {mode, prod},
    {sys_config, "config/sys.config"},
    {vm_args,    "config/vm.args"},
    {include_src, false},
    {extended_start_script, true}
]}.

{profiles, [
    {prod, [
        {relx, [
            {mode, prod},
            {include_erts, true},
            {debug_info, strip}
        ]}
    ]}
]}.

{dialyzer, [
    {warnings, [unknown]},
    {plt_apps, top_level_deps}
]}.

{xref_checks, [
    undefined_function_calls,
    locals_not_used,
    deprecated_function_calls
]}.

{xref_ignores, [
    control_pb,
    telemetry_pb,
    timestamp_pb
]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [
        fm_common, fm_proto, fm_ingest, fm_detect, fm_incident,
        fm_workflow, fm_notify, fm_storage, fm_api
    ]}
]}.
